html {
    background-color: #ffffff;
}

input {
    background-color: #838c1d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center {
    display:flex;
    justify-content:space-around;
}


.button {
    height: 25px;
    width: 100px;
}

#headertitle {
    background-color: #f8ffb2;
    font-size: 36px;
}

#title {
    padding-top: 5%;
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
}

#map {
    width: 90%;
    height: 75%;
    background-color: #ffffff;
}

.deviceinfo {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-radius: 1px;
    background-color: #f8ffb2;
    border-color: #f8ffb2;

}

.deviceinfo:hover {
    border-color: black;
}
