html {
    background-color: #ffffff;
}

.center {
    display:flex;
    justify-content:space-around;
}


.button {
    height: 25px;
    width: 100px;
}

#title {
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
}

#map {
    width: 90%;
    height: 75%;
    background-color: #ffffff;
}
